
header {
    background-color: #990000;
    margin-bottom: 15px;
    color: white;
    padding-bottom: 3px;
}


footer {
    background-color: #990000;
    padding: 10px;
    color: white;
}

.navbar-default{
    background-color: #DEDEDE
    color: black;
}
